.container {
    display: flex;
    justify-content: space-around;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.login, .edit, .aanvragen, .contact {
    display: flex;
    justify-content: center;
}


body {
    background-color: #565656;
}

p, form, a{
    color: #efefef;
    font-family: "Lucida Console", "Courier New", monospace;
}

strong {
    color: #e0e1ff;
    font-family: "Times New Roman", Times, serif;
}

a {
    outline-style: solid;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    padding: 2px;
}


a:visited {
    color: #efefef;
}

a:focus {
    border-bottom: 1px solid;
    background: #bae498;
}

a:hover {
    border-bottom: 1px solid;
    background: #868686;
}

a:active {
    background: #265301;
    color: #cdfeaa;
}